[Unit]
Description=vision-ai-mapper Daemon
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/rpivisionai/vision_ai_mapper.py
WorkingDirectory=/opt/rpivisionai/
Restart=always
User=tedge
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
